body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container-main {
  display: flex;
  width: 700px;
  height: 360px;
  overflow: hidden;
}

.img {
  background-image: url("./image-product-desktop.jpg");
  height: 100%;
  transition: all 0.5s ease-out;
}
